.Display{
  
  display: block;
  margin-left: auto;
    margin-right: auto;
  
  

}
.center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    justify-content: center;
    gap: 75px;
   
    margin-top: 15px;
 
 
}
.center-a{
  text-decoration: rgb(200, 200, 30);
}

    

.center :hover{
    color: brown;
}
.image{
  margin-top: 20px;
  width: 26%;
  border-radius: 10%;
}
.paragraph{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-justify: center;
  

}